trigger:
  branches:
    include:
      - main

resources:
  repositories:
    - repository: githubRepo
      type: github
      name: aisjack23/mslearn-tailspin-spacegame-web-deploy
      endpoint: aison.jack.d.mendoza
      ref: refs/heads/main

pool:
  vmImage: ubuntu-latest

steps:
- checkout: githubRepo
  persistCredentials: true

- script: |
    if [ -z "$AZURE_DEVOPS_PAT" ]; then
      echo "AZURE_DEVOPS_PAT is not set!"
    else
      echo "AZURE_DEVOPS_PAT variable is set."
    fi
  displayName: 'Check PAT variable'

- script: |
    git config user.email "aison.jack.d.mendoza@accenture.com"
    git config user.name "Mendoza, Aison Jack D."

    git fetch origin main
    git checkout main

    git remote add azrepo https://$AZURE_DEVOPS_PAT@dev.azure.com/appdev-upskilling-fy2601/aison.jack.d.mendoza/_git/mslearn-tailspin-spacegame-web-deploy
    git push azrepo main --force
  displayName: "Mirror GitHub repo to Azure DevOps repo"
